*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

*:active{
    background-color: none;
}

a:hover{
    text-decoration: none;    
}
strong{
    font-weight: 600;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
}

body{
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.card.question-answer-section{
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

/*header part design*/
.pro-head-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drp-user .fas.fa-chevron-down {
    font-size: 12px;
}

.fixed-button.active{
    display: none;
}

.img-header{
    height: 40px;
}

.pcoded-header .dropdown .profile-notification .pro-head{
    display: flex;
}

.pro-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro-sidebar .pro-head-name {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.pro-sidebar .pro-head-name h6{
    margin-bottom: 0;
}

.pcoded-navbar .pcoded-inner-navbar li.profile{
    border-bottom: 2px solid lightgray;
}

.badge{
    padding: 0.3rem;
    font-size: 12px;
}

.btn > i {
    margin-right: 3px;
}

/**:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

*:active{
    background-color: none;
}*/

textarea:focus,input:focus{
    border: 1px solid #5e72e4 !important;
}

p{
    margin-bottom: 0.4rem;
}

.dropdown-item{
    cursor: pointer;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #5f0ad0;
    background-color: #5f0ad0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #5f0ad0;
}

body{
    background-color: #f1f4f6;
}

.text-danger {
    padding: 4px 0 0 0px;
}

.h4-bold{
    font-weight: 600;
    color: rgba(13,27,62,0.7);
}

label.light {
    font-weight: 200 !important;
}

.alert{
    padding: 0.5rem 0.75rem;
    margin-top: 10px !important;
}

.row {
    justify-content: center;
    display: flex;
 }

 .show-card label{
    font-weight: 600;
 }

 label {
    margin-bottom: 0.2rem !important;
    color: #495057!important;
    font-weight: 600!important;
    font-size: 14px!important;
}

.login.form-check-input {
    position: absolute;
    margin-top: .4rem;
    margin-left: -1.25rem;
}

.form-check, .form-group {
    margin-bottom: 1rem;
    padding: 0;
}

.form-group:last-child{
    margin-bottom: 0 !important;
}

.form-control {
    font-size: 13px;
    border-color: #d1d3d6;
    padding: .55rem 0.6rem;
}

.main-panel .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.card{
    border-radius: 4px;
    box-shadow: 0px 0px 20px 1px #e3e3e4;
}

.card .card-header {
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-bottom: 1px solid #e0e3e6 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header .card-title {
    color: rgba(13,27,62,0.7);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
}

.card-header h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: center;
}

.btn {
    padding: 6px 9px;
    font-size: 15px;
    margin-bottom: 0px; 
    margin-right: 0px; 
    transition: all 0.3s ease-in-out;
    position: relative;
    font-weight: 600;
    border-radius: 3px;
  /*  transition: color 0.15s ease 0s, background-color 0.15s ease 0s, 
    border-color 0.15s ease 0s, box-shadow 0.15s ease 0s;*/
}

.btn-sm{
    padding: 0.17rem 0.45rem;
    font-weight: 300;
}

.btn-secondary{
    background-color: #9ca2ad;
    border-color: #9ca2ad;
}

.btn-secondary:hover{
    background-color: #80848e;
    border-color: #80848e;
}

.btn-secondary:active{
    background-color: #80848e !important;
    border-color: #80848e !important;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #5e72e4;
    border-color: #5e72e4;
}

.btn-primary:hover{
    background-color: #324cdd;
    border-color: #324cdd;
}

.btn-primary:active{
    background-color: #324cdd !important;
    border-color: #324cdd !important;
}

.btn-primary:focus{
    background-color: #324cdd !important;
    border-color: #324cdd !important;
}

.item-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge{
    color: white;
}

.search:focus{
    border: none !important;
}


/*Custom styles for bootstrap 4 Datatables*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.dataTables_wrapper.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.dataTables_wrapper .dataTables_length{
    padding-top: 1rem;
    padding-left: 1rem;
}

.dataTables_wrapper .dataTables_filter{
    padding-top: 1rem;
    padding-right: 1rem;
}

.dataTables_wrapper .dataTables_info{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.dataTables_wrapper .dataTables_paginate{
    padding-right: 1rem;
}
/*end datatables design*/

.page-item.active .page-link{
    background-color: #5e72e4;
    border-color: #5e72e4;
}

.page-item.active .page-link:hover{
    background-color: #324cdd;
    border-color: #324cdd;
}

/*notification dropdown and user rpofile dropdown*/
.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
    border-radius: 0 0 4px 4px;
}

/*dropdown active color*/
.dropdown-item.active, .dropdown-item:active {
    background-color: #324cdd;
}

.pcoded-main-container .page-header {
    margin-bottom: 30px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 1px #e3e3e4;
}

.page-title{
    color: #495057 !important;
}

.pcoded-header .dropdown .dropdown-toggle{
    text-decoration: none;
}

/*sidebar*/
.b-brand{
    color: white !important;
}


/*Questions page style*/
.question-answer-section{
    padding: 2rem 2rem 0 2rem;
}

.question-answer-section .pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin-bottom: 0;
}

.question-answer-section p{
    color: #414246;
    font-size: 17px;
}


.question-answer{
    margin-bottom: 2rem;
}

.question{
    display: flex;
    justify-content: space-between;
   /* background: #f6f5fb;*/
    padding: 10px;
}

.question strong{
    font-size: 20px;
    width: calc(100% - 40px);
    font-weight: 600;
    color: #323238;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.question .action-button{
    height: 38px;
    width: 38px;
    border-radius: 50% !important;
    margin-left: 1rem;
    border: 0px solid lightgray;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out;
/*    box-shadow: 0 0 10px 0 #eae9ea;*/
} 

.question .action-button:hover{
    background-color: #f2eff9;
    box-shadow: 0 0 6px 0px #eae9ea;
}

.question .action-button i{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    transition: all 0.3s ease-in-out;
}

.question .action-button:hover i{
    color: black;
}


.option{
    font-size: 14px;

}

.answer{
    font-size: 14px;
}

.answer strong{
    font-weight: 600;
}

.explanation{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
}

.explanation strong{
    font-weight: 600;
}


/*exam style*/
.module-box{
    margin-bottom: 1rem;
    min-height: 4rem;
}

.inside-box{
    margin: 0 auto;
    text-align: center;
    line-height: 1.1;
    padding: 10px 0;
}

.module-link {
    color: white;
    font-size: 32px;
    padding: 3px 13px;
    height: 100%;
    display: flex;
    width: 100%;
    background-color: #94129c;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.module-link:hover{
    color: white;
    background-color: #e32fcd;
}

.module-name{
    text-transform: uppercase;
}

.course-title{
    text-transform: uppercase;
    color: #5d93f3;
}

#exams{
    padding: 1rem 2rem;    
}

.exam-list-ol{
    padding-left: 1.3rem;
}

.exam-btn{    
    background-color: #324cdd;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.exam-btn:hover {
    background: lightgray;
    color: #324cdd;
    transform: scaleX(1.07);
}

.exam-list{
    margin-bottom: 10px;
}

/*select2 style customization*/
.select2-container {
    height: -moz-calc(100% - 18px) !important;
    height: -webkit-calc(100% - 18px) !important;
    height: -o-calc(100% - 18px) !important;
    height: calc(100% - 264px) !important;
}


.select2-container .select2-selection--single{
    height: 38px;
    border: 1px solid #d1d3d6;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 24px;
}


/*show profile style*/

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid lightgray;
}

.profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img{
    width: 100%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*added more*/
.col-md-8.profile-about {
    margin-top: 1rem;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

.profile-head-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.edit-profile-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}

.about-section .row{ 
    padding: 10px 0;
}

/*sidebar profile photo*/

.pro-sidebar .img-radius {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.pro-sidebar .pro-head-photo {
    height: 10rem;
    width: 10rem;
}

/*custom-file-input field style*/
.custom-file-input:focus ~ .custom-file-label{
    box-shadow: none !important;
    border: 1px solid #5e72e4; 
}

@media only screen and (max-width: 600px) {
  #exam {
    padding: 0 !important;
  }
  .col-md-6.download-pdf a {
    float: left !important;
    margin-top: 14px;
  }

    .module-name {
        text-transform: uppercase;
        font-size: 15px;
    }

    .download-pdf .btn.btn-danger.float-right {
    float: left !important;
    margin-top: 12px;
    margin: 0 auto;
    }

    .exam-set{
        padding: 0 20px;
     }
     
     .pcoded-content{
         padding: 0 !important;
     }
     
     .pcoded-header .m-header .b-brand{
         font-size: 29px;
     }

    .question-answer-section{
        padding: 0;
    }
}